= form_for @category do |f|
  - if @category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-4.form-group.form-section
      = f.label :category_name
      = f.text_field :category_name, :class => "form-control", :required => true
  .row
    .col-md-2
      = f.submit 'Save', class: "btn btn-success"
