<%= form_for(@test_gen) do |f| %>
  <% if @test_gen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_gen.errors.count, "error") %> prohibited this test_gen from being saved:</h2>

      <ul>
      <% @test_gen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game %><br>
    <%= f.text_field :game %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
