<p id="notice"><%= notice %></p>

<h1>Listing Test Gens</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_gens.each do |test_gen| %>
      <tr>
        <td><%= test_gen.game %></td>
        <td><%= test_gen.score %></td>
        <td><%= link_to 'Show', test_gen %></td>
        <td><%= link_to 'Edit', edit_test_gen_path(test_gen) %></td>
        <td><%= link_to 'Destroy', test_gen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test gen', new_test_gen_path %>
