.row
  %table.table
    %thead
      %tr
        %th User Information
        %th
        %th
        %th

    %tbody
      %tr
        %td Email:
        %td= @user.email

      %tr
        %td Sign in count:
        %td= @user.sign_in_count

      - if @user.sign_in_count > 0
        %tr
          %td Last sign in at:
          %td= @user.last_sign_in_at.strftime '%x %r %Z'

      %tr
        %td Created at:
        %td= @user.created_at.strftime '%x %r %Z'

.row.actions
  = link_to 'Back', users_path
