/ Original format: http://getbootstrap.com/css/#forms
/ Translated from HTML to HAML with http://html2haml.herokuapp.com/
/ This is the resource submission form
.container
  .row
    .col-md-10
      %h1{:style => "text-align: center"} Resource Form
  - if @resource.errors.any?
    .row
      .alert.alert-danger.col-md-10
        %h4 #{pluralize(@resource.errors.count, "error")} prohibited this category from being saved:
        %ul
          - @resource.errors.full_messages.each do |msg|
            %li= msg
  .row
    = form_for @resource,:url => (@resource.new_record? ? resources_path : resource_url(@resource)) do |f|

      .form-section.col-md-10
        %p *** means the field is required
        %p Tell us about your service...
        .row.top-buffer
          %form_group
            .col-md-2
              -# Referenced: http://stackoverflow.com/questions/13003626/custom-text-for-rails-form-for-label
              = f.label :name, "Agency Name***"
            .col-md-8
              = f.text_field :name, :class => "form-control", :required => true, placeholder: 'Agency Name'
        .row.top-buffer
          %form_group
            .col-md-2
              = f.label :Description_of_service, "Description of Service***"
            .col-md-8
              = f.text_area :description_of_service, :class => "form-control", :rows => 3, :required => true, placeholder: 'Description of Service'
        .row.top-buffer
          %form_group
            .col-md-2
              = f.label :Category, "Category***"
            .col-md-8
              %ul.list-inline
                -# Automatically create check boxes according to the resources in the database.
                - Category.all.each do |category|
                  %li.category-box-container
                    = radio_button_tag 'resource[category_ids][]',
                        category.id,
                        @resource.category_ids.include?(category.id),
                        :id => "#{category.name}"
                    = category.name
        .row.top-buffer
          %form-group
            .col-md-2
              = f.label :tag_list, "Tags***"
            .col-md-8
              %ul.list-inline
                -# Automatically generate checkboxes for tags based on categories
                -# Filtering of tags based on selected category done in resource.js
                - Category.all.each do |category|
                  %li{:id => "#{category.name}_tags", :class=> "all_tags", :style => "display:none"}
                    - category.tag_list.each do |tag|
                      %div.tag-box-container
                        = check_box_tag 'resource[tag_list][]',
                            tag,
                            @resource.tag_list.include?(tag)
                        = tag
      .form-section.col-md-10
        %p How community members can find your service...
        .row.top-buffer
          %form_group
            .col-md-2
              = f.label :Address, "Address***"
            .col-md-8
              = f.text_field :address, :class => "form-control", :required => true, placeholder: '1234 Example St, Grinnell, IA 50112'
        .row.top-buffer
          %form_group
            .col-md-2
              = f.label :Alternative_Address, "Alternative Address"
            .col-md-8
              = f.text_field :alternative_address, :class => "form-control", placeholder: '1234 Example St, Grinnell, IA 50112'
        .row.top-buffer
          %form_group
            .col-md-2
              = f.label :Phone_number, "Phone Number"
            .col-md-8
              = f.text_field :phone_number, :class => "form-control", placeholder: 'xxx-xxx-xxx'
        .row.top-buffer
          %form_group
            .col-md-2
              = f.label :Alternative_Phone_number, "Alternative Phone Number"
            .col-md-8
              = f.text_field :alternative_phone_number, :class => "form-control", placeholder: 'xxx-xxx-xxx'
        .row.top-buffer
          %form_group
            .col-md-2
              = f.label :Website, "Website"
            .col-md-8
              = f.text_field :website, :class => "form-control", placeholder: 'www.website.com'
        .row.top-buffer
          %form_group
            .col-md-2
              = f.label :Fax_number, "Fax Number"
            .col-md-8
              = f.text_field :fax_number, :class => "form-control", placeholder: 'Fax Number'
        .row.top-buffer
          %form_group
            .col-md-2
              = f.label :Agency_email, "Email"
            .col-md-8
              = f.text_field :agency_email, :class => "form-control", placeholder: 'user@example.com'

      .form-section.col-md-10
        %p How we can contact you...
        .row.top-buffer
          %form_group
            .col-md-2
              = f.label :Contact_email, "Contact Email"
            .col-md-8
              = f.text_field :contact_email, :class => "form-control", placeholder: 'user@example.com'
        .row.top-buffer
          %form_group
            .col-md-2
              = f.label :Submitter_name, "Name"
            .col-md-8
              = f.text_field :name_of_submitter, :class => "form-control", placeholder: 'Full Name'

      .col-md-2
        %button.btn.btn-success{:type => "submit", :confirm => "confirm"} Submit