.row.resource-block
  %h3
    = link_to resource, class: "resource-name", target: "_blank" do
      = resource.name
    - if current_page?(resource_path(resource))
      %a.btn.btn-default{:onclick => 'window.print(); return false;', :role => "button", :class => 'noprint'}
        %span.fa.fa-print
        Print Resource &raquo;

  %p.description #{resource.description_of_service}

  .col-md-6
    %ul{:class => "list-group"}

      - if resource.address == "n/a"
        %li Address: #{resource.address}
      - else
        %li
          Address:
          = link_to resource.address,
                    "http://www.google.com/maps/place/#{url_encode(resource.address)}",
                    :target => "_blank"

      - if resource.alternative_address == "n/a"
        %li Alternative Address: #{resource.alternative_address}
      - else
        %li
          Alternative Address:
          = link_to resource.alternative_address,
                    "http://www.google.com/maps/place/#{url_encode(resource.alternative_address)}",
                    :target => "_blank"

      %li Phone: #{resource.phone_number}
      %li Alternative Phone: #{resource.alternative_phone_number}

      / This turns the displayed link into a hyperlink.
      / Referenced: http://mixandgo.com/blog/how-to-use-link_to-in-rails
      / http://stackoverflow.com/questions/5851999/how-do-i-put-text-and-ruby-code-from-link-to-on-the-same-line-in-haml
      / http://stackoverflow.com/questions/8026619/how-to-write-if-condition-in-haml
      - if resource.website == "n/a"
        %li Website: #{resource.website}
      - else
        %li Website: #{link_to resource.website, "http://"+resource.website, :target => "_blank"}

      %li Fax: #{resource.fax_number}
      %li Contact Email: #{resource.contact_email}
      %li Agency Email: #{resource.agency_email}
      - if user_signed_in? && current_user.role == "admin"
        %li{:class => "noprint"} Name of Submitter: #{resource.name_of_submitter}
      %li 
        Tags:
        - resource.tag_list.each do |tag|
          = link_to tag, tag_path(tag)
      
    - if current_user && !current_page?(admin_path)
      .col-md-3
        = button_to(favorite_resource_path(resource.id, type: "favorite"),
                :class => 'btn btn-default noprint',
                :method => 'put') do
          %span.fa.fa-lg.fa-star
          Favorite
      .col-md-3
        = button_to(favorite_resource_path(resource.id, type: "unfavorite"),
                :class => 'btn btn-default noprint',
                :method => 'put') do
          %span.fa.fa-lg.fa-times
          Unfavorite
  .col-md-4
    %div{:id => "map"}
      = image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{resource.address}&size=300x300&zoom=17&markers=#{resource.latitude}%2C#{resource.longitude}"
  
  -# render one of several optional accessory partial views on the right-hand
  -# side of the resource (located in resources/accessories)
  .col-md-2.accessory
    - if defined? accessory
      = render partial: "resources/accessories/#{accessory}", locals: { resource: resource }