!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE-edge"}/
    %meta{"name" => "viewport", :content => "width=device-width, initial-scale=1"}/
    %meta{"name" => "description", "content" => ""}/
    %meta{"name" => "author", "content" => ""}/
    %link{:href => "../../assets/ico/favicon.ico", :rel => "shortcut icon"}/

    /%title Jumbotron Template for Twitter Bootstrap

    / Bootstrap Core CSS
    %link{:href => "scss/bootstrap.min.css", :rel => :stylesheet}/

    / Custom Styles for this template
    %link{:href => "css/jumbotron.css", :rel => :stylesheet}/

    / HTML5 Shim and Respond.js IE8 Support of HTML5 elements and media queries.
    / WARNING: Respond.js doesn't work if you view the page using file://
    /[if IE9]
      %script{:src => "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
      %script{:src => "https://oss.maxcdn.com/libs/respond.js/1.42/respond.min.js"}

  %body
    .container
      .row
        .col-md-12 
          %h1{:style => "text-align: center"} Administrator Home
    .container
      %ul.nav.nav-pills
        %li.active
          %a.fa.fa-spinner.fa-lg(href="#pending_tab" data-toggle="tab" aria-expanded="true") 
            Pending Resources
        %li
          %a.fa.fa-database.fa-lg(href="#existing_tab" data-toggle="tab") 
            Edit Existing
      %div.tab-content
        %div.tab-pane#pending_tab.active
          - @pending_resources.each do |resource|
            .row.resource_block
              %h3 #{resource.title}
              %p.description #{resource.description_of_service}
              .col-md-6
                %ul{:class => "list-group"}
                  %li Address: #{resource.address}
                  %li Alternative Address: #{resource.alternative_address}
                  %li Phone: #{resource.phone_number}
                  %li Alternative Phone: #{resource.alternative_phone_number}
                  %li Website: #{resource.website}
                  %li Fax: #{resource.fax_number}
                  %li Contact Email: #{resource.contact_email}
                  %li Agency Email: #{resource.agency_email}
                  %li Name of Submitter: #{resource.name_of_submitter}
              .col-md-6
                = button_to 'Approve', { :action => 'modify_status' ,:decision =>"Approved", :id => resource.id }, {:class => 'btn btn-success', :method => 'post'}
                = button_to 'Reject', { :action => 'modify_status' ,:decision =>"Rejected", :id => resource.id }, {:class => 'btn btn-danger', :method => 'post'}
     
        %div.tab-pane#existing_tab
          #accordion.panel-group
          -@approved_categories.each do |category,resource_values|
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#item_#{category}"}
                    %i.fa.fa-arrow-circle-down.fa-lg
                    #{category} (#{resource_values.length})
                    
              .panel-collapse.collapse{:id => "item_#{category}"}
                .panel-body
                  .container
                    .row
                      .col-md-10
                      .col-md-1
                        %div.dropdown
                          = button_to({:action => 'modify_status' ,:method => 'post',:decision =>"Rejected"}, {"data-toggle" =>"dropdown",:class => 'btn'}) do
                            Sort By
                            %span.fa.fa-sort.dropdown-toggle
                          // %button.btn.btn-primary.dropdown-toggle{"type" => "button", "data-toggle" => "dropdown"}
                          //   Sort By
                          //   %span.fa.fa-sort
                          %ul.dropdown-menu
                            %li
                              %a{:href => "#"} 
                                Ascending resource Title
                            %li
                              %a{:href => "#"} 
                                Descending resource title
                        
                  - resource_values.each do |resource|
                    .row.resource_block
                      %h3 #{resource.title}
                      %p.description #{resource.description_of_service}
                      .col-md-6
                        %ul{:class => "list-group"}
                          %li Address: #{resource.address}
                          %li Alternative Address: #{resource.alternative_address}
                          %li Phone: #{resource.phone_number}
                          %li Alternative Phone: #{resource.alternative_phone_number}
                          %li Website: #{resource.website}
                          %li Fax: #{resource.fax_number}
                          %li Contact Email: #{resource.contact_email}
                          %li Agency Email: #{resource.agency_email}
                          %li Name of Submitter: #{resource.name_of_submitter}
                      .col-md-6
                        = button_to({ :action => 'edit' ,:decision =>"Approved", :id => resource.id }, {:class => 'btn btn-default', :method => 'get'}) do
                          %i.fa.fa-pencil.fa-lg
                          Edit
                        = button_to({:action => 'modify_status' ,:method => 'post',:decision =>"Rejected", :id => resource.id}, {:class => 'btn btn-danger'}) do
                          %i.fa.fa-trash-o.fa-lg   
                          Delete
                        
                    /  = button_to raw("<i class=\"fa fa-trash-o\">Delete</i>"), resources_path, {:class => "btn btn-danger", :method => :post}
         
          // .panel.panel-default
          //   .panel-heading
          //     %h4.panel-title
          //       %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse1"}
          //         Food and Groceries
          //   #collapse1.panel-collapse.collapse
          //     .panel-body
          //       .container
          //     - @approved_food_groceries_resources.each do |resource|
          //       .row.resource_block
          //         %h3 #{resource.title}
          //         %p.description #{resource.description_of_service}
          //         .col-md-6
          //           %ul{:class => "list-group"}
          //             %li Address: #{resource.address}
          //             %li Alternative Address: #{resource.alternative_address}
          //             %li Phone: #{resource.phone_number}
          //             %li Alternative Phone: #{resource.alternative_phone_number}
          //             %li Website: #{resource.website}
          //             %li Fax: #{resource.fax_number}
          //             %li Contact Email: #{resource.contact_email}
          //             %li Agency Email: #{resource.agency_email}
          //             %li Name of Submitter: #{resource.name_of_submitter}
          //         .col-md-6
          //           = button_to 'Edit', { :action => 'edit' ,:decision =>"Approved", :id => resource.id }, {:class => 'btn btn-default', :method => 'get'}
          //           = button_to 'Reject', { :action => 'modify_status' ,:decision =>"Rejected", :id => resource.id }, {:class => 'btn btn-danger', :method => 'post'}                  
                  
          // .panel.panel-default
          //   .panel-heading
          //     %h4.panel-title
          //       %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse2"}
          //         Housing
          //   #collapse2.panel-collapse.collapse
          //     .panel-body
          //       .container
          //     -  @approved_housing_resources.each do |resource|
          //       .row.resource_block
          //         %h3 #{resource.title}
          //         %p.description #{resource.description_of_service}
          //         .col-md-6
          //           %ul{:class => "list-group"}
          //             %li Address: #{resource.address}
          //             %li Alternative Address: #{resource.alternative_address}
          //             %li Phone: #{resource.phone_number}
          //             %li Alternative Phone: #{resource.alternative_phone_number}
          //             %li Website: #{resource.website}
          //             %li Fax: #{resource.fax_number}
          //             %li Contact Email: #{resource.contact_email}
          //             %li Agency Email: #{resource.agency_email}
          //             %li Name of Submitter: #{resource.name_of_submitter}
          //         .col-md-6
          //           = button_to 'Edit', { :action => 'edit' ,:decision =>"Approved", :id => resource.id }, {:class => 'btn btn-default', :method => 'get'}
          //           = button_to 'Reject', { :action => 'modify_status' ,:decision =>"Rejected", :id => resource.id }, {:class => 'btn btn-danger', :method => 'post'}                           
         
          // .panel.panel-default
          //   .panel-heading
          //     %h4.panel-title
          //       %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse3"}
          //         Employment
          //   #collapse3.panel-collapse.collapse
          //     .panel-body
          //       .container
          //     -  @approved_employment_resources.each do |resource|
          //       .row.resource_block
          //         %h3 #{resource.title}
          //         %p.description #{resource.description_of_service}
          //         .col-md-6
          //           %ul{:class => "list-group"}
          //             %li Address: #{resource.address}
          //             %li Alternative Address: #{resource.alternative_address}
          //             %li Phone: #{resource.phone_number}
          //             %li Alternative Phone: #{resource.alternative_phone_number}
          //             %li Website: #{resource.website}
          //             %li Fax: #{resource.fax_number}
          //             %li Contact Email: #{resource.contact_email}
          //             %li Agency Email: #{resource.agency_email}
          //             %li Name of Submitter: #{resource.name_of_submitter}
          //         .col-md-6
          //           = button_to 'Edit', { :action => 'edit' ,:decision =>"Approved", :id => resource.id }, {:class => 'btn btn-default', :method => 'get'}
          //           = button_to 'Delete', { :action => 'modify_status' ,:decision =>"Rejected", :id => resource.id }, {:class => 'btn btn-danger', :method => 'post'}                                           
                  
      // .row.col-md-12.option_buttons
      //   %a.btn.btn-info{:href => "/admin/pending", :role => "button", :class => "option_button", :id => ""} View Pending &raquo;
      //   %a.btn.btn-info{:href => "/admin/existing", :role => "button", :class => "option_button", :id => ""} Edit Existing &raquo;
      //   %a.btn.btn-info{:href => "/admin/all", :role => "button", :class => "option_button", :id => ""} View All &raquo;
      //   %p #{@albert}