.container
  .row
    .col-md-12 
      %h1{:style => "text-align: center"} Administrator Home
  .row
    .col-md-4#call-to-action 
      %a.btn.btn-default{:href => "/resources/new", :role => "button", :id => "enter-resource-button"}
        Enter a new resource 
        %i.fa.fa-plus 
    .col-md-4#call-to-action
      %a.btn.btn-default{:href => "/users/invitation/new", :role => "button", :id => "enter-resource-button"} 
        Add an admin 
        %i.fa.fa-plus 
    .col-md-4#call-to-action
      %a.btn.btn-default{:href => "/categories/new", :role => "button", :id => "enter-resource-button"}
        Create a new Category 
        %i.fa.fa-plus 
.container
  %ul.nav.nav-pills
    %li.active
      %a.fa.fa-spinner.fa-lg(href="#pending_tab" data-toggle="tab" aria-expanded="true") 
        Pending Resources
    %li
      %a.fa.fa-database.fa-lg(href="#existing_tab" data-toggle="tab") 
        Edit Existing
  .tab-content
    .tab-pane#pending_tab.active
      #accordion1.panel-group
      -@pending_resources.each do |category,resource_values|
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion1", "data-toggle" => "collapse", :href => "#item_Pending_#{category}"}
                %i.fa.fa-arrow-circle-down.fa-lg
                #{category} (#{resource_values.length})
          .panel-collapse.collapse{:id => "item_Pending_#{category}"}
            .panel-body
              - resource_values.each do |resource|
                .row.resource_block
                  %h3 #{resource.title}
                  %p.description #{resource.description_of_service}
                  .col-md-6
                    %ul{:class => "list-group"}
                      %li Address: #{resource.address}
                      %li Alternative Address: #{resource.alternative_address}
                      %li Phone: #{resource.phone_number}
                      %li Alternative Phone: #{resource.alternative_phone_number}
                      %li Website: #{resource.website}
                      %li Fax: #{resource.fax_number}
                      %li Contact Email: #{resource.contact_email}
                      %li Agency Email: #{resource.agency_email}
                      %li Name of Submitter: #{resource.name_of_submitter}
                  .col-md-6
                    = button_to 'Approve', { :action => 'modify_status' ,:decision =>"Approved", :id => resource.id }, {:class => 'btn btn-success', :method => 'post'}
                    = button_to 'Reject', { :action => 'modify_status' ,:decision =>"Rejected", :id => resource.id }, {:class => 'btn btn-danger', :method => 'post'}                                  

    %div.tab-pane.fade#existing_tab
      #accordion.panel-group
      -@approved_resources.each do |category,resource_values|
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %i.fa.fa-arrow-circle-down.fa-lg
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#item_#{category}"}
                #{category} (#{resource_values.length})
          .panel-collapse.collapse{:id => "item_#{category}"}
            .panel-body
              - resource_values.each do |resource|
                .row.resource_block
                  %h3 #{resource.title}
                  %p.description #{resource.description_of_service}
                  .col-md-6
                    %ul{:class => "list-group"}
                      %li Address: #{resource.address}
                      %li Alternative Address: #{resource.alternative_address}
                      %li Phone: #{resource.phone_number}
                      %li Alternative Phone: #{resource.alternative_phone_number}
                      %li Website: #{resource.website}
                      %li Fax: #{resource.fax_number}
                      %li Contact Email: #{resource.contact_email}
                      %li Agency Email: #{resource.agency_email}
                      %li Name of Submitter: #{resource.name_of_submitter}
                  .col-md-6
                    = button_to({ :action => 'edit' ,:decision =>"Approved", :id => resource.id }, {:class => 'btn btn-default', :method => 'get'}) do
                      %i.fa.fa-pencil.fa-lg
                      Edit
                    = button_to({:action => 'modify_status' ,:method => 'post',:decision =>"Rejected", :id => resource.id}, {:class => 'btn btn-danger'}) do
                      %i.fa.fa-trash-o.fa-lg   
                      Delete
                        
