/ Original format: http://getbootstrap.com/css/#forms
/ Translated from HTML to HAML with http://html2haml.herokuapp.com/
!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE-edge"}/
    %meta{"name" => "viewport", :content => "width=device-width, initial-scale=1"}/
    %meta{"name" => "description", "content" => ""}/
    %meta{"name" => "author", "content" => ""}/
    %link{:href => "../../assets/ico/favicon.ico", :rel => "shortcut icon"}/

    /%title Jumbotron Template for Twitter Bootstrap

    / Bootstrap Core CSS
    %link{:href => "css/bootstrap.min.css", :rel => :stylesheet}/

    / Custom Styles for this template
    %link{:href => "css/jumbotron.css", :rel => :stylesheet}/

    / HTML5 Shim and Respond.js IE8 Support of HTML5 elements and media queries.
    / WARNING: Respond.js doesn't work if you view the page using file://
    /[if IE9]
      %script{:src => "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
      %script{:src => "https://oss.maxcdn.com/libs/respond.js/1.42/respond.min.js"}

  %body
    .container
      .row
        .col-md-10 
          %h1{:style => "text-align: center"} Resource Form
    .container 
      .row
        = form_for @resource,:url => resources_path do |f| 
          %div.form-section.col-md-10
            %p Tell us about your service...
            .row.top-buffer
              %form_group
                .col-md-2
                  / Referenced: http://stackoverflow.com/questions/13003626/custom-text-for-rails-form-for-label
                  = f.label :Agency_name, "Agency Name***"
                .col-md-8
                  = f.text_field :title, :class => "form-control", :required => true
            .row.top-buffer
              %form_group
                .col-md-2
                  = f.label :Description_of_service, "Description of Service***"
                .col-md-8
                  = f.text_area :description_of_service, :class => "form-control", :rows => 3, :required => true
            .row.top-buffer      
              %form_group
                .col-md-2
                  = f.label :Category, "Category***"
                .col-md-8
                  %ul
                  - Category.all.each do |category|
                    = check_box_tag 'category_ids[]', category.id, :required => true
                    = category.category_name
          %div.form-section.col-md-10
            %p How community members can find your service...
            .row.top-buffer
              %form_group
                .col-md-2
                  = f.label :Address, "Address***"
                .col-md-8
                  = f.text_field :address, :class => "form-control", :required => true
            .row.top-buffer
              %form_group
                .col-md-2
                  = f.label :Alternative_Address, "Alternative Address"
                .col-md-8
                  = f.text_field :alternative_address, :class => "form-control"
            .row.top-buffer
              %form_group
                .col-md-2
                  = f.label :Phone_number, "Phone Number"
                .col-md-8
                  = f.text_field :phone_number, :class => "form-control" 
            .row.top-buffer
              %form_group
                .col-md-2
                  = f.label :Alternative_Phone_number, "Alternative Phone Number"
                .col-md-8
                  = f.text_field :alternative_phone_number, :class => "form-control"  
            .row.top-buffer
              %form_group
                .col-md-2
                  = f.label :Website, "Website"
                .col-md-8
                  = f.text_field :website, :class => "form-control"   
            .row.top-buffer
              %form_group
                .col-md-2
                  = f.label :Fax_number, "Fax Number"
                .col-md-8
                  = f.text_field :fax_number, :class => "form-control"
            .row.top-buffer
              %form_group
                .col-md-2
                  = f.label :Agency_email, "Email"
                .col-md-8
                  = f.text_field :agency_email, :class => "form-control"   
          %div.form-section.col-md-10
            %p How we can contact you...
            .row.top-buffer
              %form_group
                .col-md-2
                  = f.label :Contact_email, "Contact Email***"
                .col-md-8
                  = f.text_field :contact_email, :class => "form-control", :required => true  
            .row.top-buffer
              %form_group
                .col-md-2
                  = f.label :Submitter_name, "Name"
                .col-md-8
                  = f.text_field :name_of_submitter, :class => "form-control" 
          %div.col-md-2
            %button.btn.btn-success{:type => "submit", :confirm => "confirm"} Submit