!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE-edge"}/
    %meta{"name" => "viewport", :content => "width=device-width, initial-scale=1"}/
    %meta{"name" => "description", "content" => ""}/
    %meta{"name" => "author", "content" => ""}/
    %link{:href => "../../assets/ico/favicon.ico", :rel => "shortcut icon"}/

    /%title Jumbotron Template for Twitter Bootstrap

    / Bootstrap Core CSS
    %link{:href => "css/bootstrap.min.css", :rel => :stylesheet}/

    / Custom Styles for this template
    %link{:href => "css/jumbotron.css", :rel => :stylesheet}/

    / HTML5 Shim and Respond.js IE8 Support of HTML5 elements and media queries.
    / WARNING: Respond.js doesn't work if you view the page using file://
    /[if IE9]
      %script{:src => "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
      %script{:src => "https://oss.maxcdn.com/libs/respond.js/1.42/respond.min.js"}

  %body
    .navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{:type => "button", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
            %span.sr-only Toggle Navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} Poweshiek County Resource Portal
        .navbar-collapse.collapse
          %form.navbar-form.navbar-right{:role => "form"}
            .form-group
              %input.form-control{:type => "text", :placeholder => "Email"}
            .form-group
              %input.form-control{:type => "password", :placeholder => "Password"}
            %button.btn.btn-success{:type => "submit"} Sign in
            
    / Main Jumbotron for a primary marketing message or call to action.
    .container
      .row
        .col-md-12 
          %h1{:style => "text-align: center"} #{@category}
  
    .container{:id => "all-resources"}
      - @resources.each do |resource|
      .row.resource_block
        %h3 #{resource.title}
        %p.description #{resource.description_of_service}
        .col-md-6
          %ul{:class => "list-group"}
            %li Address: #{resource.address}
            %li Alternative Address: #{resource.alternative_address}
            %li Phone: #{resource.phone_number}
            %li Alternative Phone: #{resource.alternative_phone_number}
            %li Website: #{resource.website}
            %li Fax: #{resource.fax_number}
            %li Contact Email: #{resource.contact_email}
            %li Agency Email: #{resource.agency_email}
            %li Name of Submitter: #{resource.name_of_submitter}
        .col-md-6 
          %img{:src =>"/assets/mapsaps.png",:class =>"img-thumbnail",:height => "100%",:width =>"100px"}
    -end unless @dont_show_things
      /Examaple 2

      %hr/
      %footer

    / Bootstrap Core JavaScript
    / ========================================
    / Placed at the end of the document so that pages can load faster.

    / Jquery necessary for Bootstrap's JavaScript Plugins
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}

    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "js/bootstrap.min.js"}

