!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE-edge"}/
    %meta{"name" => "viewport", :content => "width=device-width, initial-scale=1"}/
    %meta{"name" => "description", "content" => ""}/
    %meta{"name" => "author", "content" => ""}/
    %link{:href => "../../assets/ico/favicon.ico", :rel => "shortcut icon"}/

    /%title Jumbotron Template for Twitter Bootstrap

    / Bootstrap Core CSS
    %link{:href => "css/bootstrap.min.css", :rel => :stylesheet}/

    / Custom Styles for this template
    %link{:href => "css/jumbotron.css", :rel => :stylesheet}/

    / HTML5 Shim and Respond.js IE8 Support of HTML5 elements and media queries.
    / WARNING: Respond.js doesn't work if you view the page using file://
    /[if IE9]
      %script{:src => "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
      %script{:src => "https://oss.maxcdn.com/libs/respond.js/1.42/respond.min.js"}

  %body
    / Main Jumbotron for a primary marketing message or call to action.
    .container
      .row
        .col-md-12 
          %h1{:style => "text-align: center"} #{@category.category_name}
  
    .container{:id => "all-resources"}
      - @resources.each do |resource|
      .row.resource_block
        %h3 #{resource.title}
        %p.description #{resource.description_of_service}
        .col-md-6
          %ul{:class => "list-group"}
            %li Address: #{resource.address}
            %li Alternative Address: #{resource.alternative_address}
            %li Phone: #{resource.phone_number}
            %li Alternative Phone: #{resource.alternative_phone_number}
            %li Website: #{resource.website}
            %li Fax: #{resource.fax_number}
            %li Contact Email: #{resource.contact_email}
            %li Agency Email: #{resource.agency_email}
            %li Name of Submitter: #{resource.name_of_submitter}
        .col-md-6 
          %img{:src =>"/assets/mapsaps.png",:class =>"img-thumbnail",:height => "100%",:width =>"100px"}
    -end unless @dont_show_things
      /Examaple 2

      %hr/
      %footer


